.DS_Store
tmp/
thesis*.pdf
stellingen.pdf
*.gnuplot
*.table
*-eps-converted-to.pdf
*.aux
*.bbl
*.blg
*.log
*.toc
*.bcf
*.run.xml
comment.cut
*.fdb_latexmk
*.out
*.pyg
*.dpth
*.auxlock
*.dep
*.fls
*.md5
_minted*/
